<strong>
  <span data-defer-to="<%= view.defer_key %>-duration">...</span>
  /
  <span data-defer-to="<%= view.defer_key %>-calls">...</span>
</strong>
<span id="peek-faraday-details-toggle">faraday</span>
<div id="peek-faraday-details" style="display: none">
  <ul></ul>
</div>
